<div class="menu">
  <p></p>
  <ul class="menu">
    <li>
      <a routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >home</mat-icon
        >
      </a>
    </li>
    <li>
      <a routerLink="/cliente"
        ><span class="material-icons"> perm_identity </span></a
      >
    </li>
    <li>
      <a routerLink="/contabanco"
        ><span class="material-icons"> description </span>
      </a>
    </li>
    <li>
      <a routerLink="/conta"
        ><span class="material-icons"> visibility </span></a
      >
    </li>
  </ul>
</div>
