@import "~bootstrap/dist/css/bootstrap.min.css";

@import "../node_modules/bootstrap/scss/functions";

body {
  background-image: linear-gradient(
    to left,

    rgba(0, 250, 200, 0.9),
    rgba(0, 0, 255)
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  border-radius: 15px;
}
